<nav>
	<ol>
		<li>
			<a href="/chapter1.html" class="{% if page.url == 'fishers/chapter1.html'%}active{% endif %}">Chapter 1
			<span>A&nbsp;simple&nbsp;introduction</span> 
			</a>
		</li>
		<li>
			<a href="/chapter2.html" class="{% if page.url == 'fishers/chapter2.html'%}active{% endif %}">Chapter 2
			<span>Intuition</span> 
			</a>
		</li>
		<li>
			<a href="/chapter3.html" class="{% if page.url == 'fishers/chapter3.html'%}active{% endif %}">Chapter 3
			<span>Fisher's&nbsp;discriminant</span> 
			</a>
		</li>
		<li>
			<a href="/chapter4.html" class="{% if page.url == 'fishers/chapter4.html'%}active{% endif %}">Chapter 4
			<span>Mathematical&nbsp;derivation</span> 
			</a>
		</li>
		<li>
			<a href="/chapter5.html" class="{% if page.url == 'fishers/chapter5.html'%}active{% endif %}">Chapter 5
			<span>Existing&nbsp;implementations</span> 
			</a>
		</li>
		<li>
			<a href="/chapter6.html" class="{% if page.url == 'fishers/chapter6.html'%}active{% endif %}">Chapter 6
			<span>Code&nbsp;review</span> 
			</a>
		</li>
		<li>
			<a href="/chapter9.html" class="{% if page.url == 'fishers/chapter9.html'%}active{% endif %}">Chapter 7
			<span>Example&nbsp;1</span> 
			</a>
		</li>
		<li>
			<a href="references.html" class="{% if page.url contains 'references'%}active{% endif %}">References
			<span>References</span>
			</a>
		</li>
	</ol>
</nav>
